#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars


#ETC FILES


#KEYFILES
terraform/keys/*.pub
terraform/keys/*.pem
*.pub
*.pem
terraform/variablesecret.*
**/*/variablesecret.*