#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars


#ETC FILES


#KEYFILES
terrafom/keys/*.pub
terrafom/keys/*.pem
*.pub
*.pem
terrafom/variablesecret.tf